/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.shopping {
  background: rgb(94, 92, 92);
  max-width: 700px;
  min-width: 400px;
}

.html body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar {
  background: darkcyan;
}
.add-form {
  /* flex: 4 1; */
}
.add-form input[type="text"] {
  flex: 4;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem 0 0 0.5rem;
}

.add-form input[type="submit"] {
  flex: 1;
  padding: 0.5rem 1rem;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  background: darkcyan;
  transition: all 0.3s;
}
.add-form input[type="submit"]:hover {
  flex: 1;
  background: rgb(1, 82, 82);
}
.add-form small {
  color: rgb(151, 59, 59);
}

.shopping-item {
  margin-top: 20px;
  padding: 0.5rem 1rem;
  background: #fff;
  border: none;
  border-radius: 0.2rem;
}

.complete {
  text-decoration: line-through;
  color: #929292;
}
.btn {
  border: none;
  outline: none;
}
.btn-change {
  background: darkcyan;
  padding: 0.5rem 1rem;
}
.btn-delete {
  background: rgb(212, 140, 140);
  padding: 0.5rem 1rem;
}
.shopping-title {
  cursor: pointer;
  /* user-select: user cann't select the text; */
  user-select: none;
}
.change-item input {
  padding: 0.2rem 0.5rem;
  margin-right: 5px;
  font-size: 1rem;
  font-weight: 700;
}
.change-item button {
  background: rgb(36, 145, 69);
  padding: 0.2rem 1rem;
  border-radius: 0.3rem;
  font-weight: 700;
  border: 2px solid transparent;
}
.model{
  position:fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background: rgba(0,0,0,.37);
  justify-content:center;
  align-items: center;  
}
.card{
  padding: 3rem;
  border-radius: 0.4rem;
  box-shadow: 5px 5px 10px 0;
  background: #fff;
}
.card button {
  width: 100px;
  margin-left:auto;
}